<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app/ext_styles.css' %}">
    <link rel="icon" href="{% static 'images/app/icon.png' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home | Key Blogs</title>
</head>

<body>
    <div class="headtab"><h1>Key Blogs</h1></div><br/><br/>
    <div class="navtab">
        <img src="{% static 'images/app/idea_pen.png' %}" align='left' class="ind-img"><br/><br/>
        <center>
            <p>You're at the right place ! Create and publish your ideas as blogs. Start blogging in 
                <kb>Key Blogs</kb> by creating account or Log in if already have one.</p><br/>
            <a href="{% url 'create_account' %}"><b>Create Account</b></a> &nbsp;
            <a href="{% url 'login' %}"><b>Log In</b></a>
        </center><br/>
    </div>
    <div class="scode"> &nbsp; 
        <a href="https://github.com/nandan-unni/Django-Blogging-App" class="fa fa-lg fa-github"></a> &nbsp; 
        <a href="https://github.com/nandan-unni/Django-Blogging-App">Source Code</a>
    </div>
</body>

</html>