<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app/ext_styles.css' %}">
    <link rel="icon" href="{% static 'images/app/icon.png' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
</head>

<body>
    <div class="headtab"><h1>Key Blogs</h1></div><br/><br/>
    <div class="port">
        <div class="portal">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>