<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app/int_styles.css' %}">
    <link rel="icon" href="{% static 'images/app/icon.png' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>Feeds | Key Blogs</title>
</head>

<body>
    <div id="navbar" class="navbarpro">
        <a href="{% url 'logout' %}"><b>Log Out</b></a>
        <a href="{% url 'view_account' user.username 'blogs' %}"><b>Profile</b></a>
        <a href="{% url 'view_blogs' %}"><b>Home</b></a>
    </div>

    <div class="profile">

        <div class="blogs">
            <div class="blog">
            <h3>{{ blog.title }}</h3>
                <a href="{% url 'view_account' blog.author.username 'blogs' %}">{{ blog.author.name }}</a>
                <p>
                    &nbsp; &nbsp; {{ blog.content|linebreaks }}<br/>
                </p>
                <div class="acc-ctrl">
                    {% if blog.author == user %}
                        <a href="{% url 'edit_blog' blog.id %}" class="ctrl-edit"><button>Edit Blog</button></a>
                        <a href="{% url 'delete_blog' blog.id %}" class="ctrl-delete"><button>Delete Blog</button></a>
                    {% else %}
                        {% if user in blog.likes.all %}
                        <a href="{% url 'like_blog' blog.id %}">💙</a>
                            &nbsp; &nbsp; <z style="color: dodgerblue;">{{ blog.no_of_likes }}</z>
                        {% else %}
                            <a href="{% url 'like_blog' blog.id %}">💜</a>
                            &nbsp; &nbsp; <z style="color: black;">{{ blog.no_of_likes }}</z>
                        {% endif %}
                    {% endif %}<br/><br/><br/>
                </div>
            </div>
        </div>
    
    </div><br/><br/><br/><br/>

    <script src="{% static 'js/app/fixNavBar.js' %}"></script>
</body>

</html>