<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app/int_styles.css' %}">
    <link rel="icon" href="{% static 'images/app/icon.png' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Feeds | Key Blogs</title>
</head>

<body>
    <div class="headtab">
        <div class="head">
            <h1><b>Key Blogs</b></h1>
        </div>
    </div>
    <div id="navbar" class="navbar">
        <a href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i><br/><z>Logout</z></a>
        <a href="{% url 'view_account' user.username 'blogs' %}"><i class="material-icons">account_circle</i><br/><z>Profile</z></a>
        <a href="{% url 'search_account' %}"><i class="material-icons">person_add_alt_1</i><br/><z>Search</z></a>
        <a href="{% url 'search_account' %}"><i class="material-icons">chat</i><br/><z>Message</z></a>
        <a href="{% url 'create_blog' %}"><i class="material-icons">edit</i><br/><z>New Blog</z></a>
        {% if user.is_superuser %}
            <a href="/admin/"><i class="material-icons">construction</i><br/><z>API</z></a>
        {% endif %}
    </div>

    {% for blog in blogs %}
        <div class="blogs">
            <div class="blog">
            <h3>{{ blog.title }}</h3>
                <a href="{% url 'view_account' blog.author.username 'blogs' %}">{{ blog.author.name }}</a>
                <p>
                    &nbsp; &nbsp; {{ blog.content|linebreaks }}<br/>
                </p>
                {% if user in blog.likes.all %}
                <a href="{% url 'like_blog' blog.id %}"><i class="material-icons" style="color: dodgerblue;">favorite</i></a>
                    &nbsp; &nbsp; <z style="color: dodgerblue; font-size: 3vh;">{{ blog.no_of_likes }}</z>
                {% else %}
                    <a href="{% url 'like_blog' blog.id %}"><i class="material-icons" style="color: darkmagenta;">favorite</i></a>
                    &nbsp; &nbsp;<z style="color: black; font-size: 3vh;">{{ blog.no_of_likes }}</z>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <br/><br/><hr><br/>
    <div class="footer">
    <center>
        <a href="https://github.com/nandan-unni" class="fa fa-lg fa-github"></a> &nbsp;
        <a href="https://twitter.com/nandanunni" class="fa fa-lg fa-twitter"></a> &nbsp;
        <a href="http://www.linkedin.com/in/nandanunni-a-s-258b10193" class="fa fa-lg fa-linkedin"></a> &nbsp;
        <a href="https://www.instagram.com/u.n.n.i._/" class="fa fa-lg fa-instagram"></a> &nbsp;
        <b>|</b> &nbsp; 
        A S NANDANUNNI &nbsp; <b>|</b> &nbsp; &copy; 2020 &nbsp;
    </center><br/><br/>
    </div>

    <script src="{% static 'js/app/fixNavBar.js' %}"></script>

</body>

</html>