@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}
.navtab{
    overflow: hidden;
    background-color: indigo;
    margin-left: -8px;
    margin-top: -8px;
    width: 102%;
    box-shadow: 0 4px 4px gray;
}

.navtab img{
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-size: cover;
    border: none;
    margin-top: 16px;
    margin-left: 60px;
}
.navtab img:hover{
    opacity: 0.9;
    cursor: pointer;
}
.navtab a{
    color: white;
    text-decoration: none;
    float: right;
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 25px 25px;
    margin-right: 20px;
    width: 100px;
    height: 25px;
}
.navtab a:hover{
    background-color: lightblue;
    border-bottom: 5px solid lightblue;
    color: indigo;
}
.navtab label{
    font-family: 'Electrolize', sans-serif;
    font-weight: 900;
    color: lightblue;
    text-decoration: none;
    float: left;
    display: block;
    text-align: center;
    align-items: center;
    padding: 15px;
    font-size: 30px;
    text-shadow: 1.2px 1.2px rgb(146, 0, 250);
    letter-spacing: 5px;
    margin-left: 125px;
    margin-top: 6px;
    position: fixed;
}
.sticky{
    position: fixed;
    top: 0;
    width: 102%;
}