<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    </style>
</head>

<body style="font-family: 'Ubuntu', sans-serif;"><br/><br/>
    <div style="border: 3px solid indigo;
                padding: 3vh 3vw;
                border-radius: 10px;
                margin: auto;
                box-shadow: 0.5vh 0.5vh 0.5vh gray;
                height: fit-content;
                width: fit-content;">
        <center>
            <h2 style="color: dodgerblue; font-size: 3vh;">Confirm your Account</h2>
            <label style="line-height: 3vh; font-size: 1.8vh; color: black;">
                Hey <b>{{ user.name }}</b>,<br/>
                You have successfully registered your account in Stadium Cloud.<br/>
                Click on the following button to confirm your email id and
                activate your account.<br/><br/><br/>
                <a href="{{ link }}"
                   style="padding: 1vh 1vw;
                        text-decoration: none;
                        font-weight: 900;
                        font-size: 1.8vh;
                        background-color: indigo;
                        color: white;
                        border: 3px solid indigo;">Confirm</a><br/><br/>
            </label>
        </center>
    </div><br/><br/>
</body>

</html>