{% extends 'app/portal.html' %}

{% block content %}
    <center><h2>New Pen Name</h2></center><br/>
    <form method="POST">
        {% csrf_token %}
        <label>Hey {{ user.name }}, please choose a unique pen name.</label><br/><br/>
        <label for="username">Pen Name : &nbsp; </label>
        <input type="text"  name="username" id="username" placeholder="Enter your pen name"><br/><br/>
        {% if err %}
            <li>{{ err }}</li>
        {% endif %}
        <br/>
        <center><input type="submit" value="Continue"></center><br/>
    </form>
{% endblock %}