{% extends 'app/portal.html' %}

{% block content %}
    <center><h2>Edit Account</h2></center><br/>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name : </label><br/>
        <input type="text" name='name' id="name" value="{{ user.name }}"><br/><br/>
        <label for="bio">Bio : </label><br/>
        <input type="text" name="bio" id="bio" value="{{ user.bio }}"><br/><br/><br/>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ field.label }} : {{ error }}</li>
            {% endfor %}
        {% endfor %}<br/>
        <center><input type="submit" value="Save Changes"></center><br/>
    </form>
    <center><a href="{% url 'edit_dp' %}" class="edit-acc"><button><b>Change Profile Pic</b></button></a></center>
    <a href="{% url 'view_account' user.username 'blogs' %}">Cancel</a>
{% endblock %}