{% extends 'app/portal.html' %}

{% block content %}
    <center><h2>Login</h2></center><br/>
    <form method="POST">
        {% csrf_token %}
        <label for="email">Email : </label><br/>
        <input type="email" name="email" id="email" placeholder="Enter your email id"><br/><br/>
        <label for="password">Password : </label><br/>
        <input type="password"  name="password" id="password" placeholder="Enter your password"><br/><br/>
        {% if err %}
            <li>{{ err }}</li>
        {% endif %}
        {% if msg %}
            <ul>{{ msg }}</ul>
        {% endif %}
        <br/>
        <center><input type="submit" value="Login"></center><br/><br/>
    </form>
    <a href="{% url 'create_account' %}">Don't have an account ?</a><br/>
    <a href="{% url 'login' %}">Forgot password</a><br/>
{% endblock %}