<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app/int_styles.css' %}">
    <link rel="icon" href="{% static 'images/app/icon.png' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>Create Blog | Key Blogs</title>
</head>

<body>
    <div id="navbar" class="navbarpro">
        <a href="/accounts/logout/?next=/login"><b>Log Out</b></a>
        <a href="/blogs/view/"><b>Home</b></a>
    </div>

    <div class="port">
    <div class="portal">
        <center><h2>Create Blog</h2></center><br/>
        <form method="POST">
            {% csrf_token %}
            <label for="name">Title : </label><br/>
            <input type="text" name='title' id="title" placeholder="Enter your name"><br/><br/>
            <label for="email">Content : </label><br/>
            <textarea id="content" placeholder="Type your blog here ..." name="content"></textarea><br/><br/><br/>
            <center><input type="submit" value="Publish"></center>
        </form>
    </div>
    </div>
    <br/>
</body>

</html>