<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app/ext_styles.css' %}">
    <link rel="icon" href="{% static 'images/app/icon.png' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>Home | Key Blogs</title>
</head>

<body>
    <div class="headtab"><h1>Key Blogs</h1></div><br/><br/>
    <div class="navtab">
        <img src="{% static 'images/app/index.jpg' %}" align='left' class="ind-img"><br/><br/>
        <center><a href="login/"><b>Log In</b></a></center><br/>
        <center><a href="accounts/create/"><b>Create Account</b></a></center>
    </div>
</body>

</html>