<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./int_styles.css">
    <link rel="icon" href="./icon.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>Feeds | Key Blogs</title>
</head>

<body>
    <div class="headtab">
        <div class="head">
            <h1><b>Key Blogs</b></h1>
        </div>
    </div>
    <div id="navbar" class="navbar">
        <a href="/accounts/logout/?next=/login"><b>Log Out</b></a>
        <a href="/accounts/view/"><b>Profile</b></a>
        <a href="/blogs/create/"><b>New Blog</b></a>
    </div>
    <div class="blogs">
        <div class="blog">
        <h3>Django : The Python web framework</h3>
            <a href="#">Lawrence Journal-World</a>
            <p>
                &nbsp; &nbsp; Django (JANG-goh) is a Python-based free and open-source web framework that follows the 
                model-template-view (MVC) architectural pattern. It is maintained by the Django Software 
                Foundation (DSF), an American independent organization established as a 501(c)(3) non-profit. 
                Django's primary goal is to ease the creation of complex, database-driven websites. 
                The framework emphasizes reusability and "pluggability" of components, less code, low coupling, 
                rapid development, and the principle of don't repeat yourself. Python is used throughout, 
                even for settings files and data models. Django also provides an optional administrative create, 
                read, update and delete interface that is generated dynamically through introspection and 
                configured via admin models.<br/>
            </p>
        </div><br/><br/>
    </div>

    <script src="./fixNavBar.js"></script>

</body>

</html>