@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Open+Sans&family=Ubuntu&display=swap');
/*
font-family: 'Electrolize', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
body {
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}
kb {
    font-family: 'Electrolize', sans-serif;
    font-weight: 900;
    color: tomato;
    cursor: pointer;
}
kb:hover {
    color: rgb(220, 0, 0);
}
p {
    padding-top: 15vh;
}
.headtab {
    background-color: rgb(0, 30, 70);
    margin-left: -1vh;
    margin-top: -1vh;
    height: 10vh;
    width: 100vw;
    align-items: center;
    display: flex;
    border-bottom: 2px solid darkblue;
    position: fixed;
    box-shadow: 0vh 1vh 1vh gray;
}
.headtab h1 {
    color: tomato;
    text-shadow: 2px 2px rgb(77, 11, 0);
    font-family: 'Electrolize', sans-serif;
    font-size: 5vh;
    margin-left: 10vw;
}
.navtab {
    line-height: 3.5vh;
    padding-top: 15vh;
    padding-left: 5vh;
    margin-right: 10vw;
}
.navtab a {
    background-color: dodgerblue;
    color: white;
    padding: 1.5vh 2vw;
    text-decoration: none;
    border-radius: 5px;
    border-bottom: 2px solid darkblue;
}
.navtab a:hover {
    background-color: rgb(0, 128, 255);
    border: 1px solid darkblue;
    border-bottom: 2px solid darkblue;
}
.navtab a:active {
    background-color: white;
    color: indigo;
    outline: none;
}
.ind-img {
    max-width: 100%;
    height: auto;
}
.port {
    padding-top: 15vh;
}
.portal {
    border:0.3vh solid indigo;
    padding: 3vh 3vw;
    border-radius: 1vh;
    margin: auto;
    box-shadow: 0.5vh 0.5vh 0.5vh gray;
    height: fit-content;
    width: fit-content;
}
.portal input[type='text'], input[type='email'], input[type='password'] {
    border: 1px solid indigo;
    border-radius: 5px;
    height: 5vh;
    width: 35vh;
    font-size: 1.8vh;
    outline: none;
    padding: 1vh 0.5vw 1vh 0.5vw;
}
.portal input[type='submit'] {
    padding: 1vh 1vw;
    font-weight: 900;
    font-size: 1.8vh;
    font-family: 'Open Sans', sans-serif;
    background-color: indigo;
    color: white;
    border: 3px solid indigo;
    border-radius: 1vh;
}
.portal input[type='submit']:hover {
    background-color: rgb(0, 30, 70);
    border: 3px solid rgb(0, 30, 70);
    color: rgb(130, 192, 255);
}
.portal h2 {
    font-size: 3vh;
}
.portal label {
    font-size: 1.8vh;
}
.portal a {
    font-size: 1.8vh;
    color: dodgerblue;
    text-decoration: none;
    line-height: 3vh;
}
.portal a:hover {
    color: indigo;
}
.portal li {
    color: rgb(219, 0, 0);
    font-size: 1.8vh;
}
.portal ul {
    color: dodgerblue;
}
.edit-acc button{
    background-color: white;
    cursor: pointer;
    outline: none;
    height: 5vh;
    width: 18vh;
    font-size: 1.8vh;
    border: none;
    color: rgb(0, 129, 209);
}
.edit-acc button:hover {
    background-color: rgb(0, 129, 209);
    color: white;
}
.dp-display img {
    height: 25vh;
    width: 25vh;
    border-radius: 100%;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
  }
.inputfile {
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
}
.propic label {
    color: rgb(0, 129, 209);
}
.propic label:hover {
    cursor: pointer;
    border: 1.5px solid rgb(0, 129, 209);
    padding: 1vh;
    color: rgb(0, 129, 209);
}
.scode {
    margin-top: 33vh;
}
.scode a {
    text-decoration: none;
    color: gray;
    font-size: 1.8vh;
}
.scode a:hover {
    color: rgb(90, 90, 90);
}