<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/key_blogs/int_styles.css' %}">
    <link rel="icon" href="{% static 'images/key_blogs/icon.png' %}">
    <!--link rel="stylesheet" href="../../static/css/key_blogs/int_styles.css"-->
    <!--link rel="icon" href="../../static/images/key_blogs/icon.png"-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Blog | Key Blogs</title>
</head>

<body>
    <div class="create">
        <h1><center>Create Blog</center></h1><br/><br/>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title"><br/><br/>
            <textarea name="content" placeholder=" Write your blog here"></textarea><br/><br/>
            <select name="tag" required>
                <option value="">Select the topic</option>
                <option value="politics">#Politics</option>
                <option value="feelings">#Feelings</option>
            </select><br/><br/><br/>
            <input type="submit" value="Create">
        </form>
    </div>
</body>

</html>