<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/key_blogs/ext_styles.css' %}">
    <link rel="icon" href="{% static 'images/key_blogs/icon.png' %}">
    <!--link rel="stylesheet" href="../../static/css/key_blogs/ext_styles.css"-->
    <!--link rel="icon" href="../../static/images/key_blogs/icon.png"-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Key Blogs</title>
</head>

<body>
    <div class="headtab">
        <div class="head">
            <h1>Key Blogs</h1>
        </div>
    </div>
    <div id="navbar" class="navbar">
        <a href="login/"><b>Log <br/> In</b></a>
        <a href="signup/"><b>Create Account</b></a>
    </div><br/><br/>

    <script src="../../static/js/key_blogs/navBarFixer.js"></script>
</body>

</html>