@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Open+Sans&family=Ubuntu&display=swap');
/*
font-family: 'Electrolize', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
body {
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: indigo;
    width: 102%;
    box-shadow: 0 4px 4px gray;
}
.header label {
    font-size: 65px;
    font-family: 'Electrolize', sans-serif;
    color: lightskyblue;
    text-shadow: 1.5px 1.5px blue;
    margin-left: 100px;
}
.header a {
    color: white;
    text-decoration: none;
    float: right;
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 30px 25px;
    margin-right: 20px;
    width: 100px;
    height: 25px;
}
.header a:hover{
    background-color: lightskyblue;
    border-bottom: 5px solid lightskyblue;
    color: indigo;
}
.header img{
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-size: cover;
    border: none;
    margin-top: 16px;
    margin-left: 60px;
}
.header img:hover{
    opacity: 0.9;
    cursor: pointer;
}
.progress-container {
    width: 100%;
    height: 8px;
    background: indigo;
}

.progress-bar {
    height: 8px;
    background: lightblue;
    width: 0%;
}
.create {
    font-family: 'Electrolize', sans-serif;
    color: indigo;
    margin-left: 10vh;
    margin-top: 10vh;
}
textarea {
    font-family: 'Open Sans', sans-serif;
    width: 1000px;
    height: 300px;
    border-radius: 10px;
    margin-left: 18%;
    border: 2px solid black;
    resize: none;
}
.create input[type='text'], select {
    padding: 10px 100px;
    border-radius: 10px;
    margin-left: 18%;
    border: 2px solid black;
    outline: none;
}
.create input[type='submit'] {
    padding: 15px 30px;
    border-radius: 10px;
    border: 4px solid indigo;
    background-color: indigo;
    color: white;
    margin-left: 45%;
    outline: none;
}
.create input[type='submit']:hover {
    border: 4px solid indigo;
    background-color: darkmagenta;
    color: white;
    cursor: pointer;
}
.blog {
    width: 180vh;
    height: fit-content;
    margin-left: 15vh;
    box-shadow: 5px 5px 5px rgb(150, 150, 150);
    background-color: rgb(244, 241, 250);
    border-radius: 10px;
}

.blog h3 {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 25px;
    color: indigo;
}
.blog i {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 15px;
    text-decoration: none;
}
.blog a {
    text-decoration: none;
    color: black;
}
.blog p{
    margin-left: 4%;
    margin-right: 4%;
    font-family: 'Open Sans', sans-serif;
}
like {
    margin-left: 5%;
    font-size: 25px;
}

.profile {
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 2%;
}
.profile h1{
    color: indigo;
    font-size: 50px;
}
.profile img {
    border-radius: 100%;
    height: 300px;
    width: 300px;
}
.profile-data i {
    font-size: 20px;
}
.profile-data label {
    color: rgb(28, 1, 48);
    font-size: 20px;
}
.profile-data small {
    color: gray;
    font-size: 15px;
}