<div
  style="
    border: 0.2vh solid rgb(0, 50, 100);
    border-radius: 0.5vh;
    padding: 3vh 3vw;
    margin: auto;
    height: fit-content;
    width: fit-content;
  "
>
  <center>
    <h2 style="color: rgb(0, 70, 140); font-size: 3vh; font-weight: 900">
      Confirm your Account
    </h2>
    <label style="line-height: 3vh; font-size: 1.8vh; color: black">
      Hey <b>{{ user.name }}</b>,<br />
      You have successfully registered your account in
      <code>Key Blogs</code>.<br />
      Click on the following button to confirm your email id and activate your
      account.<br /><br /><br />
      <a
        href="{{ link }}"
        style="
          padding: 1vh 1vw;
          text-decoration: none;
          font-weight: 900;
          border-radius: 0.5vh;
          font-size: 1.5vh;
          background-color: rgb(0, 128, 255);
          color: white;
          border: 3px solid rgb(0, 128, 255);
        "
        >Confirm</a
      ><br /><br />
    </label>
  </center>
</div>
