<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app/ext_styles.css' %}">
    <link rel="icon" href="{% static 'images/app/icon.png' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>Delete Account | Key Blogs</title>
</head>

<body>
    <div class="headtab"><h1>Key Blogs</h1></div><br/><br/>
    <div class="port">
    <div class="portal">
        <center><h2>Account Confirmed..!</h2></center>
        <label>You have confirmed your email address. Login to continue</label><br/><br/><br/>
        <center><a href="/login/"><input type="submit" value="Login"></a></center>
    </div>
    </div>
</body>

</html>