<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app/ext_styles.css' %}">
    <link rel="icon" href="{% static 'images/app/icon.png' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>Create Account | Key Blogs</title>
</head>

<body>
    <div class="headtab"><h1>Key Blogs</h1></div><br/><br/>
    <div class="port">
    <div class="portal">
        <center><h2>Create Account</h2></center><br/>
        <form method="POST">
            {% csrf_token %}
            <label for="name">Name : </label><br/>
            <input type="text" name='name' id="name" placeholder="Enter your name"><br/><br/>
            <label for="email">Email : </label><br/>
            <input type="email" name="email" id="email" placeholder="Enter your email id"><br/><br/>
            <label for="password">Password : </label><br/>
            <input type="password"  name="password1" id="password" placeholder="Enter a password"><br/><br/>
            <label for="password2">Confirm Password : </label><br/>
            <input type="password" name="password2" id="password2" placeholder="Confirm your password"><br/><br/><br/>
            {% for field in form %}
                {% for error in field.errors %}
                    {% if 'This field is required.' == error %}
                        <li>{{ field.label }} : {{ error }}</li>
                    {% else %}
                        <li>{{ error }}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br/>
            <center><input type="submit" value="Create Account"></center><br/>
        </form>
    </div>
    </div>
</body>

</html>