{% extends 'app/portal.html' %}

{% block content %}
    <center><h2>Delete Account</h2></center><br/>
    <form method="POST">
        {% csrf_token %}
        <label>Hey {{ user.name }}, confirm your account deletion by entering your password.</label><br/><br/>
        <label for="password">Password : &nbsp; </label>
        <input type="password"  name="password" id="password" placeholder="Enter your password"><br/><br/>
        {% if err %}
            <li>{{ err }}</li>
        {% endif %}
        <br/>
        <center><input type="submit" value="Confirm Delete"></center><br/>
    </form>
    <a href="{% url 'view_account' user.username 'blogs' %}">Cancel</a>
{% endblock %}