{% extends 'app/portal.html' %}

{% block content %}
    <center><h2>New Profile Picture</h2></center>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" accept="image/*" name="dp" id="file" onchange="loadImage(event)" class="inputfile"
        />
        <div class="propic"><center><label for="file"><b>Choose a file</b></label></center></div>
        <br/><br/>
        <div class="dp-display"><img id="display"/></div><br/>
        {% for field in form %}
        {% for error in field.errors %}
                <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
        <center><input type="submit" value="Upload"></center><br/>
    </form>
{% endblock %}