<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./ext_styles.css">
    <link rel="icon" href="./icon.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>Profile Picture | Key Blogs</title>
</head>

<body>
    <div class="headtab"><h1>Key Blogs</h1></div><br/><br/>
    <div class="port">
    <div class="portal">
        <center><h2>New Profile Picture</h2></center>
        <form method="POST">
          <input type="file" accept="image/*" name="file" id="file" onchange="loadImage(event)" class="inputfile"
            />
          <div class="propic"><center><label for="file"><b>Choose a file</b></label></center></div>
          <br/><br/>
          <div class="dp-display"><img id="display"/></div><br/>
          <center><input type="submit" value="Upload"></center><br/>
        </form>
    </div>
    </div>

    <script></script>
</body>

</html>