<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/key_blogs/ext_styles.css' %}">
    <title>Key Blogs | Sign Up</title>
</head>

<body>
    <div class="portal signup">
        <h1>Sign Up</h1><br/>
        <form method="post">
            {% csrf_token %}
            <input type='text' name='first_name' placeholder='Name'/><br/><br/>
            <input type='text' name='username' placeholder='Username'/><br/><br/>
            <input type='password' name='password1' placeholder='Password'/><br/><br/>
            <input type='password' name='password2' placeholder='Confirm Password'/><br/><br/><br/>
            {% for field in form %}
            {% for error in field.errors %}
                <p><li style="color: rgb(200, 0, 0); margin-left: 5%; margin-right: 5%;">
                    {{ error }}
                </li></p>
            {% endfor %}
            {% endfor %}
            <input type="submit" value="Sign up">
        </form>
    </div>
</body>

</html>