<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/key_blogs/int_styles.css' %}">
    <title>Key Blogs | Home</title>
</head>

<body>
      <div id="navbar" class="navtab">
          <!--<img src="../uploads/<%= player.dpUrl %>" class="navdp" align="left" />-->
          <label>Key Blogs</label>
          <a href="/logout/?next=/"><b>Log Out</b></a>
          <a href="/profile"><b>Profile</b></a>
		  <a href="/create_blog"><b> + Create Blog</b></a>
	  </div><br/><br/><br/><br/>
	  Welcome, {{ user }}<br/><br/><br/><br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	  ............................................................
      <script src="{% static 'js/key_blogs/homeNavFixer.js' %}"></script>
</body>

</html>
