<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/key_blogs/ext_styles.css' %}">
    <title>Key Blogs</title>
</head>

<body>
    <div class="index">
        <center><h1>
            <z>K</z>e<z>y</z> B<z>l</z>o<z>g</z>s
        </h1></center>
        <center><i>Powered by Django</i></center><br/>
        <a href="signup/"><b>Sign Up</b></a>
        <a href="login/"><b>Sign In</b></a>
        <br/><br/><br/><br/><br/>
    </div>
</body>

</html>